@{
    ViewData["Title"] = "Zásady ochrany osobných údajov";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <h1 class="display-4 me-4" style="color: #28a745;">Kuchynka.sk</h1>
                <!-- Add your green soft visuals styles here -->
            </div>
        </div>

    </div>
    @{
        ViewData["Title"] = "Zásady ochrany osobných údajov";
    }

    <h1>@ViewData["Title"]</h1>

    <p>Tento dokument popisuje zásady ochrany osobných údajov pre Kuchynka a naše webové stránky: Kuchynka.sk.</p>

    <h2>Ochrana osobných údajov</h2>

    <p>Posledná aktualizácia: 15.1.2024</p>

    <p>Vaše súkromie je pre nás dôležité. Je politikou Kuchynka rešpektovať vaše súkromie a dodržiavať všetky platné zákony a predpisy týkajúce sa akýchkoľvek osobných informácií, ktoré môžeme o vás zhromažďovať, vrátane informácií získaných na našich webových stránkach Kuchynka.sk a iných stránkach, ktoré vlastníme a prevádzkujeme.</p>

    <h3>1. Informácie, ktoré zhromažďujeme</h3>

    <p>Zhromažďované informácie zahŕňajú údaje, ktoré nám úmyselne a aktívne poskytnete pri používaní našich služieb, ako aj akékoľvek informácie automaticky odoslané vašimi zariadeniami pri prístupe k našim produktom a službám.</p>

    <h4>1.1 Záznamy protokolov</h4>
    <p>Ak navštívite naše webové stránky, naše servery môžu automaticky logovať štandardné údaje poskytované vašim webovým prehliadačom. Môže to zahŕňať vašu IP adresu, typ a verziu prehliadača, stránky, ktoré navštívite, čas a dátum vašej návštevy, strávený čas na týchto stránkach, jedinečné identifikátory zariadení a ďalšie diagnostické údaje.</p>

    <h4>1.2 Osobné informácie</h4>
    <p>Môžeme požadovať osobné informácie, ako je vaše meno, e-mailová adresa, fyzická adresa, telefónne číslo a platobné údaje. Zhromažďujeme len tie údaje, ktoré nám sami dobrovoľne poskytnete pri registrácii, pri objednávke produktov alebo služieb alebo pri iných interakciách s našimi webovými stránkami.</p>

    <h3>2. Použitie vašich osobných údajov</h3>
    <p>Zhromažďované údaje používame na poskytovanie a zlepšovanie našich služieb, na komunikáciu s vami, na účely marketingu a propagácie, ako aj na legálne účely, ako je dodržiavanie zákonných požiadaviek.</p>

    <h3>3. Uchovávanie vašich osobných údajov</h3>
    <p>
        Vaše osobné údaje uchovávame len tak dlho, ako je to nevyhnutné na účely uvedené v týchto zásadách ochrany osobných údajov. Údaje u
        chovávame v súlade s platnými zákonmi a predpismi v oblasti ochrany osobných údajov. Po dosiahnutí účelu, pre ktorý boli zhromaždené, budú osobné údaje bezpečne odstránené alebo anonymizované, pokiaľ nie je potrebné ich ďalej uchovávať z právnych alebo obchodných dôvodov.

        <h3>4. Zdieľanie osobných údajov</h3>
    <p>
        Neriešpektujeme vašu dôvernosť a súkromie. Vaše osobné údaje nezdieľame s tretími stranami bez vášho výslovného súhlasu, okrem prípadov, kedy je to nevyhnutné na dodržiavanie zákonných povinností alebo na poskytovanie našich služieb. V prípade zdieľania s tretími stranami sa snažíme zabezpečiť, aby boli vaše údaje chránené v súlade s našimi štandardmi ochrany osobných údajov.
        <h3>5. Zabezpečenie údajov</h3>
    <p>
        Robíme všetko pre zabezpečenie vašich osobných údajov pred neoprávneným prístupom, zmenou, odhaľovaním alebo zničením. Implementujeme primerané bezpečnostné opatrenia a technické prostriedky na ochranu vašich údajov pred nebezpečenstvami a zneužitím.
        <h3>6. Práva subjektov údajov</h3>
    <p>
        Ako subjekt údajov máte právo na prístup k svojim osobným údajom, ich opravu, výmaz, obmedzenie spracúvania a prenositelnosť. Máte tiež právo podať sťažnosť u dozorného orgánu pre ochranu osobných údajov.
        <h3>7. Kontaktné informácie</h3>
    <p>Ak máte akékoľvek otázky, pripomienky alebo požiadavky týkajúce sa našich zásad ochrany osobných údajov, prosím, kontaktujte nás na nasledujúcej adrese: rreac123@gmail.com
    <p>
        Tieto zásady ochrany osobných údajov sú účinné od uvedeného dátumu a môžu byť aktualizované a zmenené. Prosím, pravidelne kontrolujte naše zásady ochrany osobných údajov pre najnovšie informácie.
        Ďakujeme za dôveru a za to, že ste si prečítali naše zásady ochrany osobných údajov.
    </p>
